Hi!

<p> Your <%= @role %>, <%= @first_name %> <%= @last_name %> has registered B-hive.
You can create your own account through this link:
 <%= @url2 %> </p>
<p>After your registration, both your and your <%= @role %> will be activated</p>
Welcome to B-hive! <br/>

B-hive Team