<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <%= stylesheet_link_tag 'signin', :media => :screen %>
  </head>
  
  <body>
  	<clearfix>
	<div id=signup>
		<%=h flash[:error] %>  <br/>
 		<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sign up for B-hive</b>
	</div>
		
	 <%= form_for(:signup, :url => signups_path) do |f| %>
	 
		<div id=signupbox>
		<ul><d>
			First Name: <%= f.text_field :first_name %> 
			<li>  &nbsp  </li>
			Last Name: <%= f.text_field :last_name %>
			<li>  &nbsp  </li>
			Your Email: <%= f.text_field :email %> <br/>
			<li>  &nbsp  </li>
			Password: <%= f.password_field :password %> <br/>
			<li>  &nbsp  </li>			
			Re-enter Password: <%= f.password_field :retype_password %> <br/>
			<li>  &nbsp  </li>
			I am <%= f.select :sex, options_for_select([['Select Gender', ''],['Male','m'],['Female','f']]) %><br />
			<li>  &nbsp  </li>
			Birthday: 
			<%= f.select :day, options_for_select(Signup::DAYS), :include_blank => "Day" %>
			<%= f.select :month, options_for_select(Signup::MONTHS), :include_blank => "Month" %>
			<%= f.select :year, options_for_select(Signup::YEAR_RANGE), :include_blank =>"Year" %><br />
			<li>  &nbsp  </li>
			I am the <%= f.select :role, options_for_select([['Select Role', ''],['Parent','parent'],['Teenager','teenager']]) %>
			<li>  &nbsp  </li>
			Parent's or child's email:
			<%= f.text_field :email2 %> <br/>	
			</d>	
		</ul>
			<%= f.submit "Submit" %> <br/>
		</div>

		<% end %>
	<div id=errorbox>		
		<% if @signup.errors.any? %>
		
		<h2> Errors: </h2>
		<ul>
			<% @signup.errors.full_messages.each do |message|%>
				<li> <%= message %></li>
			<% end %>
		</ul>
		
		<% end %>
	</div>	
	

    </clearfix>
  </body>
</html>