<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to B-hive!</title>
    <%= stylesheet_link_tag 'signin', :media => :screen %>
    
  </head>
  
  <body>
  	<clearfix>
        <div id="login">
		<%= form_for(:signin, :url => signins_path) do |f| %>
        	<div id="pic1">
        	</div>
            <a>       <%=h flash[:error1] %> </a>
            <a>       <%=h flash[:error2] %> </a>
        	<div id="logintitle">
        		
        		<b> Sign In to B-hive </b>
        	</div>
        
        <div id="loginbox">
        	
			<ul>
				<li>
				<a>Username:</a> 
				</li>
				<li>  &nbsp  </li>
				<li>
				<%= f.text_field :username %>
				</li>
				<li>  &nbsp  </li>
				<li>
				<a> Password:</a> 
				</li>
				<li>  &nbsp  </li>
				<li>
				<%= f.password_field :password %>
				</li>
			</ul>
			<div id="signin">
				<c><%= f.submit "Sign In" %> </c> <br/>
				
			</div>
			<ul>	
			<h3><li> New user? <u> <%= link_to 'Sign up now!', :controller => 'signups', :action => :index %></u> </li></h3>

			</ul>
		
		   
		</div>
          <% end %>
        </div>
         

      
    
    </clearfix>
  </body>
</html>
